.active-link {
    color: #28a745; /* Màu xanh lá */
    font-weight: bold;
    position: relative;
}
.active-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #28a745;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.inactive-link {
    color: #6c757d; /* Màu xám */
    position: relative;
}
.inactive-link:hover {
    color: #28a745; /* Màu xanh lá khi hover */
    font-weight: bold;
}
.inactive-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #28a745;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.form-control {
    background: white;
}

.bg-sc {
    background: #379237 !important;
}

.btn-sc {
    background: #379237;
    color: white;
}

.btn-sc:hover {
    background: #379237;
    color: white;
    opacity: 0.9;
}

.color-sc {
    color: #379237 !important;
}

textarea.form-control {
    min-height: 10rem;
}

/* Icon dropdown cho select2 */
.select2-container--default .select2-selection--multiple {
    position: relative;
    padding-right: 30px; /* Tạo khoảng trống cho icon */
}

.select2-container--default .select2-selection--multiple::after {
    content: "\25BC"; /* Ký tự mũi tên xuống */
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Màu mũi tên */
    pointer-events: none;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px);
}

.select2-container--default .select2-selection--single {
    border: 1px solid #dee2e6;
}

.form-select {
    background-color: white;
}


