.manage_assets_tab button {
    padding: 10px 15px;
    border: none;
    background-color: unset;
}

.manage_assets_tab button.active {
    border-bottom: 2px solid rgba(55, 146, 55, 1);
    padding-bottom: 12px;
    border-radius: 0;
    color: rgba(55, 146, 55, 1);
}

.manage_assets_tab {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.manage_assets .btn:hover {
    color: black;
}

#ul-tab li .active {
    color: #217121;
    font-weight: 700;
    border-bottom: 2px solid #217121;
    padding-bottom: 13px;
}

#ul-tab li {
    padding: 10px 15px;
}

#ul-tab li a {
    color: #666;
    text-decoration: none;
}